/* Couleurs principales */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fdfdfd;
}

.navbar {
  background-color: #d46aa8e1 !important;
}

.hero-section {
  padding: 100px 0;
  background-color: #f8d4d4;
}

.hero-section h1 {
  color: #333;
}
.container .img {
  width: 50px;
  height: auto;
}
.timeline {
  list-style: none;
  padding-left: 0;
}

.timeline li {
  margin: 10px 0;
  padding-left: 20px;
  position: relative;
}

.timeline li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #6a7dd4;
  font-size: 20px;
}

footer {
  margin-top: 50px;
}
